doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        header.header
            nav.header__nav
                ul.nav__list
                    li.nav__item
                        a(href="/users" class=(path === "/users" && "active")) Users
                    li.nav__item
                        a(href="/" class=(path === "/" && "active")) Enter Users
                    
        block content   