extend ./layouts/main-layout.pug

block styles 
    link(rel="stylesheet" href="/css/users.css")

block content
    .users
        h1 Users
        if users.length > 0
            ul.user-list
                each user in users
                    li.user-item #{user.username}
        else
            h1 No Users Found