.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control input {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border: 1px solid blue;
    color: blue;
    font: inherit;
    border-radius: 0.4rem;
}

.form-control label {
    color: blue;
    font: inherit;
    margin-bottom: 0.25rem;
}

.form-control input::placeholder {
    color: rgba(0, 0, 255, 0.5);
}

.product-form button {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border: none;
    outline: none;
    font: inherit;
    color: white;
    background-color: blue;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-form button:hover {
    opacity: 0.8;
    transform: scale(0.95);
}
