<header class="header">
    <nav class="header__nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/users" class="<%= path === '/users' && "active" %>">Users</a>
            </li>
            <li class="nav__item">
                <a href="/" class="<%= path === '/' && "active" %>" >Enter Users</a>
            </li>
        </ul>
    </nav>
</header>