extend ./layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/add-product.css")

block content
    main
        form.product-form(action="/admin/product" method="POST") 
            .form-control
                label(for="title") Title
                    input(type="text" id="title" placeholder="Type your product name..." name="title")
            button(type="submit") Add Product